/* app css stylesheet */

html, body {
    margin: 0px;
    padding: 0px;
}

#label_other_theme {
    padding-left: 10px;
    font-style: normal;
}

.route_tasks {
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin: 20px;
    padding: 20px;
}

.task_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task_list_item {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    cursor: move;
}

.task_list_item_place {
    cursor: move;
}

.menu_div {
    background: #49bfa9;
    background: linear-gradient(#49bf9f, #49bfa7);
    text-align: right;
    height: 74px;
    padding: 0 1em 0 0;
}

.menu {
  color: #fff;
  list-style: none;
  margin-bottom: 0;
  padding: 0 0 0 0;
}

.menu_link_title {
    color: #0b8181;
}

.menu_title_our {
    font-size: x-large;
    font-weight: bold;
}

.menu_title_way {
    font-size: large;
    font-weight: 200;
}

.menu_link {
    color: #fff;
}

.menu:before {
  content: "[";
  font-size: xx-large;
}

.menu:after {
  content: "]";
  font-size: xx-large;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.page_end {
    margin-bottom: 20px;
}


/* Welcome page */

.welcome_top_div {
    height: 550px;
    background: #48bea6;
    background: linear-gradient(#49bf9f, #49bfa7);
}

.welcome_logo {
    display: block;
    padding-top: 86px;
    margin-left: auto;
    margin-right: auto;
}


.welcome_left_div {
    background: #d2fbf3;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.welcome_right_div {
    background: #d2fbf3;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.welcome_mid_divs {
    background: #d2fbf3;
}

.welcome_mid_mid_div {
    min-height: 165px;
    background: #d2fbf3;
    width: calc(52% - 2px);
    border: 1px solid #62e0c8;
    margin-left: 24%;
}

.welcome_title_div {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #49bea1;
}

.welcome_text_div {
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    text-justify: inter-word;
    color: #49bea1;
}

.welcome_left_div_light {
    background: #fff;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.welcome_right_div_light {
    background: #fff;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.more_bottom_margin {
    margin-bottom: 20px;
}

.welcome_mid_left_div_light {
    height: 80px;
    background: #fff;
    width: 24%;
    float:left;
    border: 0px;
}

.welcome_mid_mid_div_light {
    height: 80px;
    background: #fff;
    width: calc(52% - 2px);
    float:left;
    border: 1px solid #62e0c8;
}

.welcome_mid_right_div_light {
    height: 80px;
    background: #fff;
    width: 24%;
    border: 0px;
    overflow: hidden;
}

.welcome_buttons_div {
    width: 100%;
    text-align: center;
}

.welcome_page_create_button {
    margin-top: 22px;
    display: inline-block;
    padding: 6px 12px;
    touch-action manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    background: #01c8a1;
    color: #fff;
}

.welcome_page_create_button:hover {
    background: #11ffcf;
}

.welcome_page_create_button:active {
    background: #00856a;
}

.create_route_button_icon {
    padding: 0px 5px 3px 10px;
    width: 30px;
}

.welcome_page_create_button:hover {
    color: #fff;
    text-decoration: none;
}

.welcome_page_create_button:active {
    color: #fff;
    text-decoration: none;
}

/* Experiences page */

.experiences_left_div_light {
    background: #fff;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.experiences_right_div_light {
    background: #fff;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.experiences_task_icons_div {
    min-height: 200px;
    border: 1px solid #62e0c8;
}

.experiences_task_icons_div > h1 {
    color: #62e0c8;
    font-size: xx-large;
    padding-left: 20px;
    font-weight: normal;
}

.experiences_task_icons_container_div {
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding: 0 40px 0 40px;
    clear: both;
    margin-top: 20px;
}

.experiences_task_icons_container_div > div {
    width: 16%;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    padding-bottom:
}

.experiences_task_icons_text_div {
    height: 40px;
    margin-bottom: 10px;
    padding: 0 9px 0 9px;
}

.experiences_task_icons_container_div > img {
    width: 80px;

}

.experiences_task_icons_container_div > span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.pink_text {
    color: #ff86a9;
}

.green_text {
    color: #6adf52;
}

.light_blue_text {
    color: #7ad1ed;
}

.aquamarine_text {
    color: #57ecc2;
}


/* Privacy policy page */

.privacy_white_space_div {
    height: 30px;
    background: #fff;
    width: 100%;
    border: 0px; 
}

.privacy_mid_left_div {
    min-height: 450px;
    background: #fff;
    width: 24%;
    float: left;
    border: 0px;
}

.privacy_mid_mid_div {
    min-height: 450px;
    background: #d2fbf3;
    width: calc(52% - 2px);
    float: left;
    border: 1px solid #62e0c8;
}

.privacy_mid_right_div {
    min-height: 450px;
    background: #fff;
    width: 24%;
    border: 0px;
    overflow: hidden;
}

.privacy_title_div {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #49bea1;
}

.privacy_text_div {
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    text-justify: inter-word;
    color: #49bea1;
}

.privacy_text_div > p {
    padding-bottom: 15px;
}
