/* app css stylesheet */

html, body {
    margin: 0px;
    padding: 0px;
}

#label_other_theme {
    padding-left: 10px;
    font-style: normal;
}


.menu_div {
    background: #49bfa9;
    background: linear-gradient(#49bf9f, #49bfa7);
    text-align: right;
    height: 54px;
    padding: 0 1em 0 0;
}

.menu {
  color: #fff;
  list-style: none;
  margin-bottom: 0;
  padding: 2px 0 0 0;
}

.menu_link_title {
    color: #0b8181;
}

.menu_title_our {
    font-size: x-large;
    font-weight: bold;
}

.menu_title_way {
    font-size: large;
    font-weight: 200;
}

.menu_link {
    color: #fff;
}

.active_menu_link {
    color: #027a79;
}

.menu > li > a:link {
    text-decoration: none;
}

.menu:before {
  content: "[";
  font-size: xx-large;
}

.menu:after {
  content: "]";
  font-size: xx-large;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.page_end {
    margin-bottom: 20px;
}


/* Welcome page */

.welcome_top_div {
    height: 550px;
    background: #48bea6;
    background: linear-gradient(#49bf9f, #49bfa7);
}

.welcome_logo {
    display: block;
    padding-top: 86px;
    margin-left: auto;
    margin-right: auto;
}


.welcome_left_div {
    background: #d2fbf3;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.welcome_right_div {
    background: #d2fbf3;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.welcome_mid_divs {
    background: #d2fbf3;
}

.welcome_mid_mid_div {
    min-height: 165px;
    background: #d2fbf3;
    width: calc(52% - 2px);
    border: 1px solid #62e0c8;
    margin-left: 24%;
}

.welcome_title_div {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #49bea1;
}

.welcome_text_div {
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    text-justify: inter-word;
    color: #49bea1;
}

.welcome_left_div_light {
    background: #fff;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.welcome_right_div_light {
    background: #fff;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.more_bottom_margin {
    margin-bottom: 20px;
}

.welcome_mid_left_div_light {
    height: 80px;
    background: #fff;
    width: 24%;
    float:left;
    border: 0px;
}

.welcome_mid_mid_div_light {
    height: 80px;
    background: #fff;
    width: calc(52% - 2px);
    float:left;
    border: 1px solid #62e0c8;
}

.welcome_mid_right_div_light {
    height: 80px;
    background: #fff;
    width: 24%;
    border: 0px;
    overflow: hidden;
}

.welcome_buttons_div {
    width: 100%;
    text-align: center;
}

.welcome_page_create_button {
    margin-top: 22px;
    display: inline-block;
    padding: 6px 12px;
    touch-action manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    background: #01c8a1;
    color: #fff;
}

.welcome_page_create_button:hover {
    background: #11ffcf;
    color: #fff;
    text-decoration: none;
}

.welcome_page_create_button:active {
    background: #00856a
    color: #fff;
    text-decoration: none;
}

.create_route_button_icon {
    padding: 0px 5px 3px 10px;
    width: 30px;
}

.welcome_page_getapp_button {
    margin-top: 22px;
    display: inline-block;
    padding: 6px 12px;
    touch-action manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    background: #0f93d1;
    color: #fff;
    width: 150px;
}

.welcome_page_getapp_button:hover {
    background: #17b5ff;
    color: #fff;
    text-decoration: none;
}

.welcome_page_getapp_button:active {
    background: #13648a;
    color: #fff;
    text-decoration: none;
}

.welcome_page_experiences_button {
    margin-top: 22px;
    display: inline-block;
    padding: 6px 12px;
    touch-action manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    background: #01c8a1;
    color: #fff;
    width: 150px;
}

.welcome_page_experiences_button:hover {
    background: #11ffcf;
    color: #fff;
    text-decoration: none;
}

.welcome_page_experiences_button:active {
    background: #00856a;
    color: #fff;
    text-decoration: none;
}

/* Experiences page */

.experiences_map_route_select {
    background: #d2fbf3 !important;
    color: #32826e;
    border-radius: 0px;
    width:auto;
    display:inline-block;
}

#map {
    width: 100%;
    height: 480px;
}

.experiences_left_div_light {
    background: #fff;
    height: 59px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.experiences_right_div_light {
    background: #fff;
    height: 59px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.experiences_task_icons_div {
    min-height: 200px;
    border: 1px solid #48bda0;
}

.experiences_task_icons_div > h3 {
    color: #48bda0;
    font-size: large;
    padding-left: 20px;
    font-weight: normal;
}

.experiences_task_icons_container_div {
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding: 0 40px 0 40px;
    clear: both;
    margin-top: 20px;
}

.experiences_task_icons_container_div > div {
    width: 16%;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    padding-bottom:
}

.experiences_task_icons_text_div {
    height: 40px;
    margin-bottom: 10px;
    padding: 0 9px 0 9px;
}

.experiences_task_icons_container_div > img {
    width: 80px;

}

.experiences_task_icons_container_div > span {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.experiences_user_feedback_title {
    margin-top: 40px;
}

.experiences_task_user_feedback_div {
    border: 1px solid #4bbea1;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}

/* Create route page */

.create_route_top_div {
    border: 1px solid #48bda0;
    padding: 20px;
}

.create_route_route_name_input {
    border-radius: 0px;
    padding: 7px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    width: 267px !important;
}

.form-control::-webkit-input-placeholder { color: #86ccba; }
.form-control:-moz-placeholder { color: #86ccba; }
.form-control::-moz-placeholder { color: #86ccba; }
.form-control:-ms-input-placeholder { color: #86ccba; }

.create_route_theme_select {
    color: #469381;
    border-radius: 0px;
}

.create_route_other_theme_span {
    font-weight: bold;
}

.create_route_other_theme_name_input {
    border-radius: 0px;
}

.create_route_task_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.create_route_task_list_item {
}

.create_route_task_div {
    background: #d2fbf3;
    border: 1px solid #49bfa9;
    padding: 20px 40px 20px 40px;
    cursor: move;
}

.create_route_task_title {
    font-size: x-large;
    margin-top: 0px;
}

.create_route_task_type_text {
    font-size: large;
}

.create_route_task_type_label > input {
    visibility: hidden; /* Makes input not-clickable */
    position: absolute;
}

.create_route_task_type_label > input + img {
    cursor: pointer;
}

.task_list_item_place {
    cursor: move;
}

.create_route_task_type_icon {
    width: 54px;
}

.create_route_task_instructions_div {
    width: 100%;
    margin-top: 20px;
}

.create_route_task_instructions_textarea {
    width: 100% !important;
    padding: 7px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    border-radius: 0px;
}

.create_route_task_delete_button_div {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.create_task_delete_button {
    background: #fc7272;
    border: none;
    color: #fff;
    padding: 5px 40px 5px 40px;
    float: right;
}

.create_task_delete_button:hover {
    background: #fc2a2a;
}

.create_task_delete_button:active {
    background: #662e2e;
}

.create_route_task_route_buttons_div {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
}

.create_route_task_add_button {
    background: #01c8a1;
    border: none;
    color: #fff;
    padding: 5px 40px 5px 40px;
    float: left;
    font-size: large;
}

.create_route_task_add_button:hover {
    background: #11ffcf;
}

.create_route_task_add_button:active {
    background: #00856a;
}

.create_route_task_add_button_plus_sign_span {
    font-weight: normal;
    font-size: x-large;
    border: 1px solid;
    padding: 0px 6px 0px 6px;
    border-radius: 15px;
}

.create_route_save_button {
    background: #0f93d1;
    border: none;
    color: #fff;
    padding: 5px 40px 5px 40px;
    float: right;
    font-size: large;
    height: 44px;
}

.create_route_save_button:hover {
    background: #17b5ff;
}

.create_route_save_button:active {
    background: #007096;
}

/* Search routes page */

.search_routes_top_div {
    border: 1px solid #48bda0;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

.search_routes_route_name_div {
    float: left;
}

.search_routes_route_sort_div {
    float: right;
}

.search_routes_route_name_input {
    border-radius: 0px;
    padding: 7px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    width: 267px !important;
}

.search_routes_search_icon {
    color: #75dcc9;
}

.has-feedback-left input.form-control {
  padding-left: 34px; 
  padding-right: 12px; 
}
.has-feedback-left .form-control-feedback {
  left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
  left: 12px;
}

.search_routes_sort_by_select {
    color: #469381;
    border-radius: 0px;
}

.search_routes_left_div_light {
    background: #fff;
    height: 10px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.search_routes_right_div_light {
    background: #fff;
    height: 10px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.search_routes_left_div_light_long {
    background: #fff;
    height: 50px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.search_routes_right_div_light_long {
    background: #fff;
    height: 50px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.search_routes_task_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search_routes_task_list_item {
}

.search_routes_task_div {
    background: #d2fbf3;
    border: 1px solid #49bfa9;
    padding: 20px 40px 20px 40px;
}

.search_routes_task_overview_div {
    overflow: hidden;
    width: 100%;
}

.search_routes_task_name_div {
    float: left;
    font-size: x-large;
    font-weight: bold;
    color: #388571;
}

.search_routes_task_info_div {
    float: right;
    font-size: large;
    color: #388571;
}

.search_routes_task_details {
    margin-top: 10px;
}

.search_routes_task_detail_left_div {
    height: 10px;
    width: calc(50% - 1px);
    border-right: 1px solid #62e0c8;
    float:left;
}

.search_routes_task_detail_right_div {
    height: 10px;
    width: 50%;
    border: 0px;
    overflow: hidden;
}

.search_routes_task_detail {
    border: 1px solid #57cfb0;
    background: #fff;
    color: #388571;
    padding: 10px;
}

.search_routes_task_detail_title_div {
    font-size: large;
    padding-bottom: 10px;
}

.search_routes_task_details_icon {
    width: 50px;
}

.search_routes_task_details_span {
    padding-left: 10px;
}

/* Get app page */

.getapp_mid_mid_div {
    min-height: 170px;
    background: #d2fbf3;
    width: calc(52% - 2px);
    float: left;
    border: 1px solid #62e0c8;
}

/* Privacy policy page */

.privacy_white_space_div {
    height: 30px;
    background: #fff;
    width: 100%;
    border: 0px; 
}

.privacy_mid_left_div {
    min-height: 450px;
    background: #fff;
    width: 24%;
    float: left;
    border: 0px;
}

.privacy_mid_mid_div {
    min-height: 450px;
    background: #d2fbf3;
    width: calc(52% - 2px);
    float: left;
    border: 1px solid #62e0c8;
}

.privacy_mid_right_div {
    min-height: 450px;
    background: #fff;
    width: 24%;
    border: 0px;
    overflow: hidden;
}

.privacy_title_div {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #49bea1;
}

.privacy_text_div {
    width: 100%;
    padding: 20px 30px 20px 30px;
    text-align: justify;
    text-justify: inter-word;
    color: #49bea1;
}

.privacy_text_div > p {
    padding-bottom: 15px;
}


/* Colored texts */

.cyan_text {
    color: #4bbea1;
}

.pink_text {
    color: #ff86a9;
}

.green_text {
    color: #6adf52;
}

.light_blue_text {
    color: #7ad1ed;
}

.aquamarine_text {
    color: #57ecc2;
}

.black_text {
    color: #000;
}

.dark_cyan_text {
    color: #32826e;
}

