<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>LoseYourWay Sample Postcard</title>

    <!-- Bootstrap -->
    <link href="/app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container sample_postcard">
      <div class="row">
	<div class="col-lg-6">
	  <h2>LoseYourWay Sample Postcard</h2>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-6">
          <img src="http://res.cloudinary.com/demo/image/upload/w_150,h_150,c_fill,r_20/sample.png">
        </div>
	<div class="col-sm-6">
	  <p class="sample_postcard_text">&quot;Walk around until you find a gateway to other dimension.&quot;</p>
        </div>
      </div>
      <div class="row">
	<div class="col-sm-6">
          <p class="sample_postcard_text">&quot;Let your nose lead you until you see something flying. Take a scenery photograph.&quot;</p>
        </div>
	<div class="col-sm-6">
          <img src="http://res.cloudinary.com/demo/image/upload/w_450,e_sepia/a_10/sample.jpg">
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
