body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sample_postcard {
    border: solid;
    border-radius: 5px;
}

.sample_postcard_text {
    padding-top: 40px;
}