<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
<div ng-controller="RouteAddCtrl" class="container">
  <h1 class="cyan_text">Create Route</h1>
  <form name="routeAddForm" class="form-inline css-form" novalidate>
    <div class="create_route_top_div">
    <label class="cyan_text" for="rName">Route name: </label>
    <input class="form-control create_route_route_name_input" type="text" ng-model="route.name" name="rName" placeholder="Type the route name" class="form-control" required />
    <br />
    <div ng-show="routeAddForm.$submitted || routeAddForm.rName.$touched">
      <div ng-show="routeAddForm.rName.$error.required">The route name is required.</div>
    </div>
    <br>
    <label class="cyan_text" for="themeSelect"> Theme: </label>
    <select name="themeSelect" ng-model="route.theme" class="form-control create_route_theme_select" ng-change="changedTheme(route.theme)">
      <option value="Architecture and urban design">Architecture and urban design</option>
      <option value="eSkills">eSkills</option>
      <option value="Mobility and transport">Mobility and transport</option>
      <option value="Social inclusion in cities">Social inclusion in cities</option>
      <option value="Urban innovation and creative industries">Urban innovation and creative industries</option>
      <option value="Urban planning">Urban planning</option>
      <option value="Other">Other...</option>
    </select>
    
    <span class="create_route_other_theme_span" ng-style="{color: myColor}" ng-model="myColor" id="label_other_theme">Other theme: </span>
    <input type="text" ng-model="otherThemeName" name="otherThemeName" placeholder="Name" class="form-control create_route_other_theme_name_input" ng-disabled="route.theme != 'Other'" ng-change="changedThemeName(otherThemeName)"/>

    </div>

      <ul ng-sortable class="create_route_task_list">
	<li class="create_route_task_list_item" ng-repeat="task in route.tasks">
	  <div class="experiences_left_div_light">
	  </div>
	  <div class="experiences_right_div_light">
	  </div>
    
	  <div class="create_route_task_div">
	    <h2 class="cyan_text create_route_task_title">Task {{$index + 1}}</h2>
            <h3 class="cyan_text create_route_task_type_text">Task type</h3>

	    <label class="create_route_task_type_label">
	      <input type="radio" ng-model="task.type" value="move">
	      <img class="create_route_task_type_icon" src="/images/move_icon_inactive_medium.png" ng-if="task.type != 'move'">
	      <img class="create_route_task_type_icon" src="/images/move_icon_selected_medium.png" ng-if="task.type == 'move'">
	    </label>
	    <label class="create_route_task_type_label">
	      <input type="radio" ng-model="task.type" value="photo">
	      <img class="create_route_task_type_icon" src="/images/take_photo_icon_inactive_medium.png" ng-if="task.type != 'photo'">
	      <img class="create_route_task_type_icon" src="/images/take_photo_icon_selected_medium.png" ng-if="task.type == 'photo'">
            </label>
	    <label class="create_route_task_type_label">
	      <input type="radio" ng-model="task.type" value="word">
	      <img class="create_route_task_type_icon" src="/images/write_icon_inactive_medium.png" ng-if="task.type != 'word'">
	      <img class="create_route_task_type_icon" src="/images/write_icon_selected_medium.png" ng-if="task.type == 'word'">
            </label>
	    <label class="create_route_task_type_label">
	      <input type="radio" ng-model="task.type" value="photoword">
	      <img class="create_route_task_type_icon" src="/images/write_and_take_photo_icon_inactive_medium.png" ng-if="task.type != 'photoword'">
	      <img class="create_route_task_type_icon" src="/images/write_and_take_photo_icon_selected_medium.png" ng-if="task.type == 'photoword'">
            </label>
	    
	    <div class="create_route_task_instructions_div">
	      <textarea class="form-control create_route_task_instructions_textarea" name="instructions" rows="3" placeholder="Instructions shown to the user" ng-model="task.instructions"></textarea>
	    </div>
	    
	    <div class="create_route_task_delete_button_div">
	      <button type="button" class="create_task_delete_button" ng-click="deleteTask(task)"><span class="glyphicon glyphicon-remove-sign"></span> Delete task</button>
	    </div>

	  </div>
	</li>
      </ul>

      <div class="create_route_task_route_buttons_div">
	<button type="button" class="create_route_task_add_button" ng-click="addTask('move')"><span class="create_route_task_add_button_plus_sign_span">+</span> Add task</button>
	<input type="submit" ng-click="createRoute()" value="Save route" class="create_route_save_button"/>
      </div>
  </form>
</div>
<div class="page_end"></div>
