<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
<div ng-controller="RouteAddCtrl" class="container">
  <form name="routeAddForm" class="form-inline css-form" novalidate>
    <label for="rName">Route name: </label>
    <input type="text" ng-model="route.name" name="rName" class="form-control" required />
    <br />
    <div ng-show="routeAddForm.$submitted || routeAddForm.rName.$touched">
      <div ng-show="routeAddForm.rName.$error.required">The route name is required.</div>
    </div>
    <br>
    <label for="themeSelect"> Theme: </label>
    <select name="themeSelect" ng-model="route.theme" class="form-control" ng-change="changedTheme(route.theme)">
      <option value="Architecture and urban design">Architecture and urban design</option>
      <option value="eSkills">eSkills</option>
      <option value="Mobility and transport">Mobility and transport</option>
      <option value="Social inclusion in cities">Social inclusion in cities</option>
      <option value="Urban innovation and creative industries">Urban innovation and creative industries</option>
      <option value="Urban planning">Urban planning</option>
      <option value="Other">Other...</option>
    </select>
    
    <span ng-style="{color: myColor}" ng-model="myColor" id="label_other_theme">Other theme: </span>
    <input type="text" ng-model="otherThemeName" name="otherThemeName" placeholder="Name" class="form-control" ng-disabled="route.theme != 'Other'" ng-change="changedThemeName(otherThemeName)"/>

    <br>

    <br><b>Tasks:</b>

    <div class="route_tasks">
      <ul ng-sortable class="task_list">
	<li class="task_list_item" ng-repeat="task in route.tasks">
	  <div class="row">
            <div class="col-md-1">{{$index + 1}}.</div>
            <div class="col-md-4">
              <label for="taskType"> Task type: </label>
              <select name="taskType" class="form-control" ng-model="task.type">
                <option value="move">Move</option>
                <option value="photo">Take photo</option>
                <option value="word">Write word</option>
		<option value="photoword">Take photo and write word</option>
              </select>
            </div>
            <div class="col-md-7">
              <label for="instructions">Instructions: </label><p>
              <textarea name="instructions" class="form-control" rows="3" placeholder="Instructions shown to the user" ng-model="task.instructions"></textarea>
            </div>
          </div>
	</li>
      </ul>

      <br><b>Add task:</b>

      <div class="btn-group" role="group" aria-label="Add task">
	<button type="button" class="btn btn-default" ng-click="addTask('move')">Move</button>
	<button type="button" class="btn btn-default" ng-click="addTask('photo')">Take photo</button>
	<button type="button" class="btn btn-default" ng-click="addTask('word')">Write word</button>
	<button type="button" class="btn btn-default" ng-click="addTask('photoword')">Take photo and write word</button>
      </div>
      <br>
    </div>
    <input type="submit" ng-click="createRoute()" value="Save" class="btn btn-primary"/>
  </form>
</div>

